*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  background-color: rgb(220,220,220);
}
.center{
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  max-height: 30px;
}
.header {  
 height: 40px;
  background-color: white;
  border-bottom: 2px solid rgb(200,200,200);

}
.header__logo{
  width: 50%;
 height: 50px;
}
.header__logo img{
 
  width: 280px;
  height: 30px;
  margin-top: 3px;
  margin-left: 3px;

}
.header__loginForm{
  width: 50%;
  text-align: right;
}
.header__loginForm input[type=text],
.header__loginForm input[type=password]{
  width: 150px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

.header__loginForm input[type=submit]{
  background-color: #0095f6;
  color: white;
  border: 0;
  height: 20px;
  padding: 0px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}
